/composer.lock
/beard.lock

.fuse_hidden
.sass-cache
bower_components
node_modules
/Packages/Sites/Sfi.Erm/Frontend/bin
/Packages/Sites/Sfi.Erm/Frontend/bundle
/Packages/Sites/Sfi.Erm/Frontend/.bundle
*.DS_Store

/Web/_Resources/
/Web/index.php
/Configuration/*
Configuration/Production/IncludeCachedConfigurations.php
Configuration/Production/Settings.yaml.example
Configuration/Production/Settings.yaml
Configuration/Development/IncludeCachedConfigurations.php
Configuration/Development/Settings.yaml.example
Configuration/Development/Settings.yaml
/Configuration/Settings.yaml
!/Configuration/Development/
!/Configuration/Production/
!/Configuration/Development/Caches.yaml
!/Configuration/Production/Caches.yaml
/Build/Behat/*
/Build/BuildEssentials
/Build/Reports
/Build/Resources
/Data/
/Packages/Application/
/Packages/Framework/
/Packages/Libraries/
/Packages/Plugins/
/bin/
/Readme.txt
/Upgrading.txt
/flow
/flow.bat

