.Footer {
	position: relative;
	background: $color-primary;
	margin-top: 4*$u;
	p {color: white;}
}
.Footer-inner {
	padding: 2*$u 0;
	background-color: $color-primary;
	@media #{$large-up} {
		position: absolute;
		top: 5*$u;
		right: 4*$u;
	}
}
